<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "blockLine">
        <div class = "article">
            <h1 class = "postName">gamedev</h1>
            <h4 class = "postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet, nibh vitae consequat iaculis, libero eros lobortis nisi, quis elementum odio nunc efficitur mi. Nulla volutpat ante est, in lobortis tortor tincidunt id. Duis at neque lorem. Donec aliquet mi id sem commodo porttitor.</h4>
            <p class="postWriter">Maxim Poliak</p>
        </div>
        <div class = "article2">
            <h1 class = "postName">gamedev</h1>
            <h4  class = "postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet, nibh vitae consequat iaculis, libero eros lobortis nisi, quis elementum odio nunc efficitur mi. Nulla volutpat ante est, in lobortis tortor tincidunt id. Duis at neque lorem. Donec aliquet mi id sem commodo porttitor.</h4>
            <p class="postWriter">Maxim Poliak</p>
        </div>
    </div>
</body> 
